<!DOCTYPE html>
<html>
<head id="MyHead" runat="server">
    <script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/JScriptCommon.js") " type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SearchBoxBackend.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
        type="text/javascript"></script>

    <script src="@Url.Content("~/Res/easyui/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Res/easyui/locale/easyui-lang-zh_CN.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Res/easyui/themes/icon.css")" rel="stylesheet"
        type="text/css" />
    <link href="@Url.Content("~/Res/easyui/themes/metro/easyui.css")" rel="stylesheet"
        type="text/css" />

    <title></title>

    @RenderSection("HeadContent",false)

</head>
<body>
    <div class="mbx">
        @RenderSection("CurrentPlace",false)
    </div>
    @using (Html.BeginForm())
       { 
        @Html.ValidationSummary(true)
        @RenderBody()
    }
</body>
</html>

