@model NkjSoft.DAL.Business.ArticleType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.Backend.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>ArticleType</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TypeValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TypeValue)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.__KeyId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.__KeyId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
